body{
    font-family: "inter", sans-serif;
}

/*------------------------------------------------------------ Color*/

.bg-blue{
    background-color: #0c1536;
}

.bg-grey{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.text-white{
    color: #fafafa;
    margin-bottom: 0;
}

.text-yellow{
    color: #FFD800;
}

a{
    color: #FFD800;
}

/*------------------------------------------------------------ General CSS rules*/
.centre{
    text-align: center;
}

li {
    list-style-type: none;
}

.dropdown-toggle::after {
    display:none;
}

.uppercase{
    text-transform: uppercase;
}

.margin-b{
    margin-bottom: 20px;
}

.margin-t{
    margin-top: 20px;
}

/*------------------------------------------------------------ Navbar*/

.logo{
    background: url(../images/Pahros\ Computers\ Logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 85px;
}

.menu{
    border-left: 1px solid #fafafa;
}

.dropdown-item{
    background-color: #0c1536;
}

.current{
    color: #fafafa;
}

.title{
    padding-top: 15px;
}

.mini-menu{
    padding-top: 25%;
}

.menu-big{
    padding-top: 5px;
}

/*------------------------------------------------------------ Hero image*/

.hero-image{
    background: url(../images/Hero\ image\ front\ of\ store.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 600px;
}

.contact{
    background-color: #0c1536;
    color: #fafafa;
    width: 200px;
    bottom: 5%;
    margin: 0 auto;
    right: 0;
    left: 0;
    position: absolute;
    padding: 6px;
    line-height: 15px;
}

.contact a{
    color: #FFD800;
}

/*------------------------------------------------------------ Welcome message*/

.welcome-image{
    background: url(../images/Greeting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 200px;
}

.welcome .welcome-message, .welcome-image{
    padding: 0px 5%;
}

.welcome ul li{
    list-style-type:disc;
}

/*------------------------------------------------------------ Carousel*/

.carousel{
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

a.carousel-control-next,
a.carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    margin: auto 0px;
    border-radius: 5px;
}

/*------------------------------------------------------------ Map*/
.service-list{
    width: 80%;
    margin: 0 auto;
}

/*------------------------------------------------------------ Map*/

.map{
    width: 96%;
    min-height: 400px;
    margin: 0 2%;
    border: solid 2px rgba(0, 0, 0, 0.5);
}

/*------------------------------------------------------------ Address*/

.shop-image{
    background: url(../images/Front\ of\ store.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 400px;
}

.address-and-times .address{
    padding-left: 10%;
    margin: auto 0;
}

.contact-phone{
    background-color: #0c1536;
    color: #fafafa;
    width: 200px;
    margin: 0 auto;
}

/*------------------------------------------------------------ Form*/

.form-section{
    width: 300px;
    margin: 0 auto;
}

.form-section input, textarea{
    width: 100%;
    margin: 10px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/*------------------------------------------------------------ Review*/

.qoute{
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

/*------------------------------------------------------------ Footer*/
footer{
    margin-top: 10px;
    padding-top: 10px;
}

footer ul{
    padding: 0;
}

footer .fa-facebook-official{
    font-size: 72px;
}