/*------------------------------------------------------------ Color*/



/*------------------------------------------------------------ General CSS rules*/
.centre{
    text-align: center;
}

li {
    list-style-type: none;
}

.dropdown-toggle::after {
    display:none;
}

/*------------------------------------------------------------ Navbar*/

.logo{
    background: url(../images/Pahros\ Computers\ Logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 85px;
}